@model IEnumerable<DSWebUI.Models.StoreLocationVM>

@{
    ViewData["Title"] = "CustomerIndex";
}

<h1>Choose A Store to Order From</h1>

<p>
    <b asp-action="Create">Create New</b>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Place Order", "Create", "DogOrder", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
